<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    {% load static %}
    <link rel="icon" href="{% static '/img/airbnb-icon.png' %}" type="image/x-icon"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-6" style="padding-left: 0.5%;">
                    <form action="{% url 'uhuy:search_result'%}" method="POST">
                        {% csrf_token %}
                        <div class="form-group" style="margin-bottom: 0;">
                            <a href="{%url 'uhuy:home'%}" class="airbnb-icon" style="text-decoration: none;">
                                <img src="{% static '/img/airbnb-icon.png' %}" alt="">
                            </a>
                            <input class="form-control kolom-search" type="text" name="keyword" id="search" placeholder="Try 'Malang'">
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <div class="header-nav">
                        <ul class="header-nav__list list-unstyled">
                            <li>
                                <a class="nav-string" href="{%url 'uhuy:home'%}">Become a host</a>
                            </li>
                            <li>
                                <a class="nav-string" href="">Saved</a>
                            </li>
                            <li>
                                <a class="nav-string" href="">Trips</a>
                            </li>
                            <li>
                                <a class="nav-string" href="">Messages</a>
                            </li>
                            <li>
                                <a class="nav-string" href="">Help</a>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <a href="" class="imageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <!-- <img src="{%static 'img/seb.jpg'%}" alt=""> -->
                                        <img src="{%if user.picture.url == none or user.picture.url == ''%}
                                        https://a0.muscache.com/defaults/user_pic-50x50.png?v=3
                                    {%else%}
                                        {{user.picture.url}}
                                    {%endif%}"
                                    width="28px" height="28px">
                                    </a>
                                    <ul class="dropdown-menu list-unstyled">
                                        <li><a class="dropdown-item" href="{%url 'uhuy:profile'%}">Profile</a></li>
                                        <li><a class="dropdown-item" href="#">Account</a></li>
                                        <li><a class="dropdown-item" href="#">Invite Friends</a></li>
                                        <li><a class="dropdown-item" href="#">Refer a Host</a></li>
                                        <li><a class="dropdown-item" href="#">Your Guidebook</a></li>
                                        <li><a class="dropdown-item" href="#">Gift Cards</a></li>
                                        <li><a class="dropdown-item" href="#">Airbnb for Work</a></li>        
                                    </ul>
                                </div>
                                <!-- <a href="{%url 'uhuy:profile'%}" class="profile-pic">
                                    <img src=
                                    "{%if profile.picture == none or profile.picture == ''%}
                                        https://a0.muscache.com/defaults/user_pic-50x50.png?v=3
                                    {%else%}
                                        {{profile.picture}}
                                    {%endif%}"
                                    width="28px" height="28px">
                                </a> -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
   
    {% block content %}
    {% endblock  %}
 

    <footer>
        <div class="container footer">
            <div class="row footer-one">
                <div class="col-3">
                    <ul class="footer-col-one list-unstyled">
                        <li><strong>Airbnb</strong></li></br>
                        <li><a href="">Careers</a></li>
                        <li><a href="">News</a></li>
                        <li><a href="">Policies</a></li>
                        <li><a href="">Help</a></li>
                        <li><a href="">Diversity & Belonging</a></li>
                        <li><a href="">Accessibilty <span class="badge badge-secondary">New</span></a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="footer-col-two list-unstyled">
                        <li><strong>Discover</strong></li></br>
                        <li><a href="#">Trust & Safety</a></li>
                        <li><a href="#">Invite Friends</a></li>
                        <li><a href="#">Gift Cards</a></li>
                        <li><a href="#">Airbnb Citizen</a></li>
                        <li><a href="#">Business Travel</a></li>
                        <li><a href="#">Things To Do <span class="badge badge-secondary">New</span></a></li>
                        <li><a href="#">Airbnbmag</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="footer-col-third list-unstyled">
                        <li><strong>Hosting</strong></li></br>
                        <li><a href="#">Why Host</a></li>
                        <li><a href="#">Refer Hosts</a></li>
                        <li><a href="#">Hospitality</a></li>
                        <li><a href="#">Responsible Hosting</a></li>
                        <li><a href="#">Community Center</a></li>
                        <li><a href="#">Host an Experience <span class="badge badge-secondary">New</span></a></li>
                        <li><a href="#">Open Homes</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="footer-col-forth list-unstyled">
                        <li> </li>
                        <li>
                            <img src="{% static '/img/instagram-icons-media-facebook-social.png' %}" width="70px">
                        </li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Site Map</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row footer-two align-items-center">
                <img src="{% static '/img/airbnb-icon.png' %}" width="15px" height="15px">
                <span>Copyright &copy; 2019 Airbnb, Inc. All rights reserved</span>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>